@font-face {
    font-family: 'Exo2';
    src: url('./fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Exo2 italic';
    src: url('./fonts/Exo2-Italic-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Exo2';
    background-color: #191919;
    color: white;
}

main {
    display: flex;
}

#card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    align-content: flex-start;
}

#card-deck div {
    background-color: #1F1F1F;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#card-deck img {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: -16px;
}

h2 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#card-deck div:hover {
    transform: scale(105%);
}



.display-none {
    display: none !important;
}

/*----------------------------------
detail view
----------------------------------*/

#detail-view {
    display: flex;
}

#detail-view h2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.detail-view-section {
    background-color: #1F1F1F;
}

.detail-view-table-row {
    display: flex;
    justify-content: space-around;
}

.detail-view-table-row div {
    display: flex;
}

.detail-view-table-row p {
    margin: 0;
    font-weight: bold;
}

#detail-view-genders img {
    width: 24px;
    height: 24px;
}

.detail-view-separator {
    height: 2px;
    background-color: #CACACA;
}

#detail-view-types {
    display: flex;
    gap: 16px;
}

.detail-view-type-icon {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    padding: 2px 8px 2px 2px;
    width: fit-content;
    height: 24px;
}

.detail-view-type-icon img {
    width: 24px;
}

#detail-view p {
    color: white;
}


#evolutions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.evolution-tree-card {

    border: 2px solid grey;
    border-radius: 24px;

}


/*----------------------------------
detail view - stats section
----------------------------------*/


.detail-view-stats-row {
    position: relative;
    font-weight: bold;
}

.stats-bar {
    position: absolute;
    top: 0;
    left: 56px;

    height: 100%;
    width: calc(100% - 56px);

    background-color: #535353;
    border-radius: 16px;
}

/* .stats-bar-colored {
    position: absolute;
    top: 0;
    left: 40px;

    height: 100%;
    width: calc(50% - 40px);

    border-radius: 16px;
} */



/*----------------------------------
loading animation
----------------------------------*/

#loading-animation {
    width: 100%;
    display: flex;
    justify-content: center;
}

.circle {
    fill: #fff;
    stroke: none;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.circle:nth-child(1) {
    animation-delay: 0.1s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*----------------------------------
type colors - backgrounds
----------------------------------*/

.background-type-bug {
    background-color: #90C12C;
}

.background-type-dark {
    background-color: #5A5366;
}

.background-type-dragon {
    background-color: #096DC4;
}

.background-type-electric {
    background-color: #F3D23B;
}

.background-type-fairy {
    background-color: #EC8FE6;
}

.background-type-fighting {
    background-color: #ce4069;
}

.background-type-fire {
    background-color: #ff9c54;
}

.background-type-flying {
    background-color: #92aade;
}

.background-type-ghost {
    background-color: #5269ac;
}

.background-type-grass {
    background-color: #63BB5B;
}

.background-type-ground {
    background-color: #d97746;
}

.background-type-ice {
    background-color: #74cec0;
}

.background-type-normal {
    background-color: #9099A1;
}

.background-type-poison {
    background-color: #ab6ac8;
}

.background-type-psychic {
    background-color: #f97176;
}

.background-type-rock {
    background-color: #c7b78b;
}

.background-type-steel {
    background-color: #5a8ea1;
}

.background-type-water {
    background-color: #4d90d5;
}

/*----------------------------------
type colors - borders
----------------------------------*/

.border-type-bug {
    border-color: #90C12C;
}

.border-type-dark {
    border-color: #5A5366;
}

.border-type-dragon {
    border-color: #096DC4;
}

.border-type-electric {
    border-color: #F3D23B;
}

.border-type-fairy {
    border-color: #EC8FE6;
}

.border-type-fighting {
    border-color: #ce4069;
}

.border-type-fire {
    border-color: #ff9c54;
}

.border-type-flying {
    border-color: #92aade;
}

.border-type-ghost {
    border-color: #5269ac;
}

.border-type-grass {
    border-color: #63BB5B;
}

.border-type-ground {
    border-color: #d97746;
}

.border-type-ice {
    border-color: #74cec0;
}

.border-type-normal {
    border-color: #9099A1;
}

.border-type-poison {
    border-color: #ab6ac8;
}

.border-type-psychic {
    border-color: #f97176;
}

.border-type-rock {
    border-color: #c7b78b;
}

.border-type-steel {
    border-color: #5a8ea1;
}

.border-type-water {
    border-color: #4d90d5;
}