@font-face {
    font-family: 'Exo2';
    src: url('./fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Exo2 italic';
    src: url('./fonts/Exo2-Italic-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Exo2';
    background-color: #191919;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    display: flex;
    gap: 24px;

}

#main-left-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card-deck {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    align-content: flex-start;
}

#card-deck div {
    background-color: #1F1F1F;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#card-deck div:hover {
    cursor: pointer;
}

#card-deck img {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: -16px;
}

h2 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#card-deck div:hover {
    transform: scale(105%);
}



.display-none {
    display: none !important;
}

/*----------------------------------
detail view
----------------------------------*/

#detail-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 24px;
    padding: 16px;

    position: fixed;
    right: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav img {
    width: 16px;
    object-fit: contain;
}

nav img:hover {
    cursor: pointer;
}

#detail-view-pokemon-name {
    position: unset;

}

#detail-view-top-container {
    position: relative;
}

#detail-view-top-image {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    width: 200px;
}

#pokeball {
    transform: rotate(-135deg);
    width: 220px;
}

.detail-view-section {
    background-color: #1F1F1F;
    border-radius: 24px;
    width: 100%;
    padding: 8px;
}

.detail-view-table-row {
    display: flex;
    justify-content: space-around;
}

.detail-view-table-row div {
    display: flex;
}

.detail-view-table-row p {
    margin: 0;
    font-weight: bold;
}

#detail-view-genders img {
    width: 24px;
    height: 24px;
}

.detail-view-separator {
    height: 2px;
    background-color: #CACACA;
}

#detail-view-types {
    display: flex;
    gap: 16px;
}

.detail-view-type-icon {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    padding: 2px 8px 2px 2px;
    width: fit-content !important;
    height: 24px;
    margin: 8px 8px 0 8px;
}

.detail-view-type-icon img {
    width: 24px !important;
}

#detail-view p {
    color: white;
}


#section-evolutions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-evolutions div {
    width: 30%;
}


.evolution-tree-card {

    border: 2px solid grey;
    border-radius: 24px;
    width: 100% !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    height: 300px;
}

.evolution-tree-card:hover {
    cursor: pointer;
}

.evolution-tree-card img {
    width: 80%;
}


/*----------------------------------
detail view - stats section
----------------------------------*/


.detail-view-stats-row {
    position: relative;
    font-weight: bold;
}

.stats-bar {
    position: absolute;
    top: 0;
    left: 56px;

    height: 100%;
    width: calc(100% - 56px);

    background-color: #535353;
    border-radius: 16px;
}

/* .stats-bar-colored {
    position: absolute;
    top: 0;
    left: 40px;

    height: 100%;
    width: calc(50% - 40px);

    border-radius: 16px;
} */



/*----------------------------------
loading animation
----------------------------------*/

.circle {
    fill: #fff;
    stroke: none;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

.circle:nth-child(1) {
    animation-delay: 0.1s;
}

.circle:nth-child(2) {
    animation-delay: 0.2s;
}

.circle:nth-child(3) {
    animation-delay: 0.3s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



/*----------------------------------
type colors - backgrounds
----------------------------------*/

.background-type-bug {
    background-color: #90C12C;
}

.background-type-dark {
    background-color: #5A5366;
}

.background-type-dragon {
    background-color: #096DC4;
}

.background-type-electric {
    background-color: #F3D23B;
}

.background-type-fairy {
    background-color: #EC8FE6;
}

.background-type-fighting {
    background-color: #ce4069;
}

.background-type-fire {
    background-color: #ff9c54;
}

.background-type-flying {
    background-color: #92aade;
}

.background-type-ghost {
    background-color: #5269ac;
}

.background-type-grass {
    background-color: #63BB5B;
}

.background-type-ground {
    background-color: #d97746;
}

.background-type-ice {
    background-color: #74cec0;
}

.background-type-normal {
    background-color: #9099A1;
}

.background-type-poison {
    background-color: #ab6ac8;
}

.background-type-psychic {
    background-color: #f97176;
}

.background-type-rock {
    background-color: #c7b78b;
}

.background-type-steel {
    background-color: #5a8ea1;
}

.background-type-water {
    background-color: #4d90d5;
}

/*----------------------------------
type colors - borders
----------------------------------*/

.border-type-bug {
    border-color: #90C12C;
}

.border-type-dark {
    border-color: #5A5366;
}

.border-type-dragon {
    border-color: #096DC4;
}

.border-type-electric {
    border-color: #F3D23B;
}

.border-type-fairy {
    border-color: #EC8FE6;
}

.border-type-fighting {
    border-color: #ce4069;
}

.border-type-fire {
    border-color: #ff9c54;
}

.border-type-flying {
    border-color: #92aade;
}

.border-type-ghost {
    border-color: #5269ac;
}

.border-type-grass {
    border-color: #63BB5B;
}

.border-type-ground {
    border-color: #d97746;
}

.border-type-ice {
    border-color: #74cec0;
}

.border-type-normal {
    border-color: #9099A1;
}

.border-type-poison {
    border-color: #ab6ac8;
}

.border-type-psychic {
    border-color: #f97176;
}

.border-type-rock {
    border-color: #c7b78b;
}

.border-type-steel {
    border-color: #5a8ea1;
}

.border-type-water {
    border-color: #4d90d5;
}


/*----------------------------------
search
----------------------------------*/

form {
    display: flex;
    gap: 20px;
}

form div {
    border: 1px solid #CACACA;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 4px 6px;
    gap: 6px;
}

form img {
    height: 20px;
}

form input {
    border: unset;
    background-color: transparent;
    color: #f5f5f5;
    height: 28px;
    font-size: 20px;
    padding: 0;
    font-family: 'Exo2';
    font-weight: bold;
}

form input:hover {
    cursor: pointer;
}

form div:has(input:focus-visible) {
    border-color: #4BC9FF;
}

form div:has(input:focus-visible) img {
    filter: invert(81%) sepia(52%) saturate(4015%) hue-rotate(170deg) brightness(102%) contrast(101%);
}

form input:focus-visible {
    outline: unset;
    cursor: text;
}

button {
    border: unset;
    background: #4BC9FF;
    font-family: 'Exo2';
    font-weight: bold;
    border-radius: 8px;
    width: fit-content;
    font-size: 20px;
    padding: 8px 16px;
    margin: 24px;
}

button:hover {
    background: #3CA1CC;
    cursor: pointer;
}

button:active {
    background: #676767;
    color: #CACACA;
}