@font-face {
    font-family: 'Exo2';
    src: url('./fonts/Exo2-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Exo2 italic';
    src: url('./fonts/Exo2-Italic-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Exo2';
    background-color: #191919;
    color: white;
}

#main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    align-content: flex-start;
}

#main div {
    background-color: #1F1F1F;
    width: 200px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#main img {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    right: -16px;
}

h2 {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

#main div:hover {
    transform: scale(105%);
}

#detail-view p {
    color: white;
}

/*----------------------------------
detail view
----------------------------------*/

#detail-view {
    padding: 16px;
}

#detail-view h2 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#detail-view div {
    background-color: #1F1F1F;
}

.detail-view-table-row {
    display: flex;
    justify-content: space-around;
}

.detail-view-table-row div {
    display: flex;
}

.detail-view-table-row p {
    margin: 0;
    font-weight: bold;
}

#detail-view-genders img {
    width: 24px;
    height: 24px;
}

#detail-view-about-separator {
    height: 2px;
    background-color: #CACACA;
}

#detail-view-types {
    display: flex;
    gap: 16px;
}

#detail-view-types div {
    display: flex;
    gap: 8px;
    border-radius: 16px;
    padding: 2px 8px 2px 2px;
}

#detail-view-types img {
    width: 24px;
}


/*----------------------------------
type colors
----------------------------------*/

.background-type-bug {
    background-color: #90C12C;
}

.background-type-dark {
    background-color: #5A5366;
}

.background-type-dragon {
    background-color: #096DC4;
}

.background-type-electric {
    background-color: #F3D23B;
}

.background-type-electric {
    background-color: #EC8FE6;
}

.background-type-fighting {
    background-color: #ce4069;
}

.background-type-fire {
    background-color: #ff9c54;
}

.background-type-flying {
    background-color: #92aade;
}

.background-type-ghost {
    background-color: #5269ac;
}

.background-type-grass {
    background-color: #63BB5B;
}

.background-type-ground {
    background-color: #d97746;
}

.background-type-ice {
    background-color: #74cec0;
}

.background-type-normal {
    background-color: #9099A1;
}

.background-type-poison {
    background-color: #ab6ac8;
}

.background-type-psychic {
    background-color: #f97176;
}

.background-type-rock {
    background-color: #c7b78b;
}

.background-type-steel {
    background-color: #5a8ea1;
}

.background-type-water {
    background-color: #4d90d5;
}

















